@charset "UTF-8";

body {
    background-color: #fff;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 72px;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a {
    color: #8e0c0c;
}

ul:hover li a:not(:hover) {
    color: #000;
    opacity: 0.3;
    filter: blur(1px);
}